<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.szy.common.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.YSPEmptyRecyclerViewActivity"
            android:label="YSPEmptyRecyclerViewActivity"
            />
        <activity
            android:name=".Activity.YSPEmptyRelativeLayoutActivity"
            android:label="YSPEmptyRelativeLayoutActivity"
            />
        <activity
            android:name=".Activity.YSPEmptyLinearLayoutActivity"
            android:label="YSPEmptyLinearLayoutActivity"
            />
    </application>

</manifest>